<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Conference</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicons/favicon.ico">
    <meta name="msapplication-TileImage" content="../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="../assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="../assets/lib/prismjs/prism-tomorrow.css" rel="stylesheet">
    <link href="../assets/css/theme.css" rel="stylesheet">

  </head>


  <body id="home">

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main>


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader p-0" id="preloader">
        <div class="loader d-flex flex-column align-items-center">
          <div class="ball-scale-ripple">
            <div></div>
          </div>
          <h5 class="fs-1 pr- text-light text-uppercase mb-0 mt-3">Loading</h5>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================--><a class="bottom-to-top rounded-soft" href="#top" data-fancyscroll><span class="fas fa-angle-up lg" data-fa-transform="down-2"></span></a>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0" id="top">
        <div class="container"><a class="navbar-brand ml-3 ml-md-0" href="../index.html"><img src="../assets/img/logos/banner-logo.svg" alt="logo" style="margin-bottom: 9px;" /></a>
          <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse ml-2 ml-md-0" id="navbarContent">
            <ul class="navbar-nav text-uppercase font-weight-semi-bold ml-auto" id="navbar-spy">
              <li class="nav-item dropdown dropdown-menu-on-hover"><a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text"> Home</span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1"><a class="dropdown-item" href="../index.html">Home static</a><a class="dropdown-item" href="../index-rtl.html">Home RTL</a><a class="dropdown-item" href="../index--home-classic.html">Home classic</a><a class="dropdown-item" href="../index--header-slider.html">Home slider</a><a class="dropdown-item" href="../index--header-slider-classic.html">Home slider classic</a><a class="dropdown-item" href="../index--youtube.html">Youtube Background</a><a class="dropdown-item" href="../index--youtube-classic.html">Youtube classic</a><a class="dropdown-item" href="../index--selfhosted.html">self hosted vedio </a><a class="dropdown-item" href="../index--selfhosted-classic.html">self hosted classic </a></div>
              </li>
              <li class="nav-item"><a class="nav-link" href="../index.html#Schedule"><span class="nav-link-text">  Schedule</span></a></li>
              <li class="nav-item"><a class="nav-link" href="../pastevents.html"><span class="nav-link-text"> Event</span></a></li>
              <li class="nav-item"><a class="nav-link" href="../../index.html#contact"> <span class="nav-link-text"> contact</span></a></li>
            </ul>
            <ul class="navbar-nav text-uppercase font-weight-semi-bold">
              <li class="nav-item dropdown dropdown-menu-on-hover"><a class="nav-link dropdown-toggle" id="navbarDropdown2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text"> Elements</span></a>
                <div class="dropdown-menu dropdown-menu-right rounded-soft" aria-labelledby="navbarDropdown2"><a class="dropdown-item" href="../components/typography.html">Typography</a><a class="dropdown-item" href="../components/color.html">Colors</a><a class="dropdown-item" href="../components/buttons.html">Button</a><a class="dropdown-item" href="../components/icons.html">Icons</a><a class="dropdown-item" href="../components/flexslider.html">Flexslider</a><a class="dropdown-item" href="../components/layout.html">Layout Helper</a><a class="dropdown-item" href="../components/googlemap.html">Google Map</a><a class="dropdown-item" href="../components/php-ajax-form.html">Php AJAX Form</a><a class="dropdown-item" href="../components/documentation.html">Documentation</a></div>
              </li>
            </ul>
            <button class="text-base ml-lg-4 mt-3 mt-lg-0 btn btn-outline-light mb-4 mb-lg-0" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Register Now</button>
          </div>
        </div>
      </nav>


      <!-- <section> begin ============================-->
      <section class="py-lg-10 py-8">

        <div class="bg-holder overlay overlay-0" style="background-image:url(../assets/img/background/william-iven-19843-unsplash.jpg);">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="text-white" data-zanim-xs='{"animation":"slide-right","delay":0.5,"duration":0.5}' data-zanim-trigger="scroll">Documentation</h2>
              <nav class="fs-1" aria-label="breadcrumb" data-zanim-xs='{"animation":"slide-right","delay":0.8,"duration":0.5}' data-zanim-trigger="scroll">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class="text-white" href="../index.html">Home</a></li>
                  <li class="breadcrumb-item active text-white" aria-current="page">Documentation</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>


      <!-- <section> begin ============================-->
      <section>

        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="col sticky-top fs-1">
                <ul class="list-unstyled pt-5">
                  <li><a href="#quick-start" data-fancyscroll>Quick Started</a></li>
                  <li><a href="#filestructure" data-fancyscroll>File Structure </a></li>
                  <li><a href="#custom" data-fancyscroll>Customaization</a></li>
                  <li><a href="#gulp" data-fancyscroll>Gulp</a></li>
                  <li><a href="#rtl" data-fancyscroll>RTL</a></li>
                  <li><a href="#plugin" data-fancyscroll>Plugins</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h3 class="mb-0 contains-anchor" id="quick-start">Quick started<a href="#quick-start" data-fancyscroll data-offset="96">#</a></h3>
                </div>
                <div class="card-body bg-light">
                  <p class="mb-0">Looking to start your project quickly? Just unzip the <code>Conference-v2.0.0.zip</code>. We have precompiled and packaged everything in the <code>pages</code> directory for you. Start editing the <code>pages/page-starter.html</code> with a text or code editor, save it, and open the file in your favourite browser to see the changes.</p>
                </div>
              </div>
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h5 class="mb-0 contains-anchor" id="setting-up-build-system">Setting up Build system<a href="#setting-up-build-system" data-fancyscroll data-offset="96">#</a></h5>
                </div>
                <div class="card-body bg-light">
                  <p>Unzip the <code>Conference-v2.0.0.zip</code> to any folder and open a command line or terminal at that location.
                    theme's dev tools require <a href="https://nodejs.org/en/" target="_blank">Node</a> and <a href="https://git-scm.com/" target="_blank">Git</a> . If you do not have them in your machine, please install their latest stable version from their corresponding website. As you have <span class="font-weight-black text-black">Node and Git installed and accessible from your terminal or command line</span>, install <a href="https://gulpjs.com/" target="_blank">Gulp CLI</a> package
                    globally with the following command:
                  </p>
                  <pre><code class="lang-html">npm i gulp-cli -g
</code></pre>
                  <p class="mt-4">When you’re done, install the rest of the theme’s dependencies with:</p>
                  <pre><code class="lang-html">npm i
</code></pre>
                  <p class="mt-4">Now run:</p>
                  <pre><code class="lang-html">gulp
</code></pre>
                  <p class="mt-4">Running gulp will compile the SCSS, transpile the javascript, copy all required libraries form <code>node_modules</code> to the corresponding <code>pages/assets/ </code> directory and will open a browser window to <code>pages/index.html</code></p>
                  <p>All of the following folders are monitored for changes, which will tell the browser to reload automatically after any changes are made:</p>
                  <pre><code class="lang-html">pages/*.html
pages/assets/fonts/
pages/assets/video/
pages/assets/img/
scss/ 
js/
</code></pre>
                  <p class="mt-4">Now you can edit any html file from <code>pages</code>, change SCSS variable with <code>_user-variables.scss</code>, or write your own SCSS code in <code>scss/_user.scss</code></p>
                  <div class="alert alert-warning">Running the <code>gulp</code> command will discard and regenerate all the files in following directories:</div>
                  <pre><code class="lang-html">js/bootstrap/
scss/bootstrap/
pages/assets/css/
pages/assets/js/
pages/assets/lib/
</code></pre>
                  <p class="mt-4">Hit <code>Ctrl+C</code> or just close the command line window to stop the server.</p>
                  <p>Happy editing!</p>
                </div>
              </div>
              <div class="card mb-3 shadow-none mt-5">
                <div class="card-header px-0">
                  <h3 id="filestructure">File Structure</h3>
                  <p class="mb-1 mt-2">Within your theme, you’ll find the following directories and files, common grouping resources and providing both compiled, transpired and minified distribution files, as well as raw source files.</p>
                </div>
                <div class="card-body">
                  <pre class="rounded-soft shadow mb-3 border-0"><code class="lang-html">Conference-v2.0.0/
    ├── js/
    |   ├── bootstrap/
    |   ├── theme/
    |   └── plugins/
    ├── pages/
    |   ├── assets/
    |   ├── authentication/
    |   ├── components/
    |   ├── documentation/
    |   ├── e-commerce/
    |   ├── email/
    |   ├── home/
    |   ├── layouts/
    |   ├── pages/
    |   ├── plugins/
    |   ├── utilities/
    |   ├── index.html
    |   └── *.html
    ├── scss/
    |   ├── bootstrap/
    |   ├── theme/
    |   ├── _user.scss
    |   ├── _user-variables.scss
    |   └── theme.scss
    ├── .eslintrc.json
    ├── .gitignore
    ├── gulpfile.js
    └── package.json</code></pre>
                </div>
              </div>
              <div class="card mb-3 shadow-none mt-4">
                <div class="card-header" id="custom">
                  <h3>Customaization</h3>
                </div>
                <div class="card-body">
                  <p class="mb-1 mt-2">We recommend you customize your theme styles using SCSS. You can customize the theme's styles with the two following approaches:</p>
                  <h5 class="mb-0"><code>_user.scss</code></h5>
                </div>
                <div class="card-body bg-light">
                  <p class="mb-0">You can add your own SCSS and override the theme style in the <code>scss/_user.scss</code> file.</p>
                </div>
              </div>
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h5 class="mb-0"><code>_user-variables.scss</code></h5>
                </div>
                <div class="card-body bg-light">
                  <p class="mb-0">To make broader changes to the design of the theme, such as changing the color scheme or font sizes, use <code>scss/_user-variables.scss</code>. Any variable from <code>scss/bootstrap/_variables.scss</code> or <code>scss/custom/_variables.scss</code> can be overridden with your own value.</p>
                </div>
              </div>
              <div class="card mb-3 shadow-none mt-4">
                <div class="card-header">
                  <h3 id="gulp">Gulp</h3>
                  <h5 class="mb-0 contains-anchor">To start your project run:<a href="#gulp-start" data-fancyscroll data-offset="96">#</a></h5>
                </div>
                <div class="card-body bg-light"><code class="fs-2 border rounded py-2 px-3 d-block border-300 bg-white">gulp</code>
                  <p class="mt-4">The <code>gulp</code> command will build, serve and watch the project with the following gulp tasks:</p>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead class="thead-light text-center text-sans-serif">
                        <tr>
                          <th class="text-nowrap">Task</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-nowrap"><code>clean</code></td>
                          <td>Delete the following directories:
                            <pre><code class="lang-html">js/bootstrap
scss/bootstrap
pages/assets/css
pages/assets/js
pages/assets/lib</code></pre>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>scss</code></td>
                          <td>Compiles <code>scss/theme.scss</code> and generates <code>theme.css</code> and <code>theme.map</code> to the <code>pages/assets/css/ </code> directory.</td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>scss:min</code></td>
                          <td>Compiles <code>scss/theme.scss</code> and generates <code>theme.min.css</code>,
                            and <code>theme.min.map</code> to the <code>pages/assets/css/ </code> directory.
                          </td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>scss:rtl</code></td>
                          <td>Compiles <code>scss/theme.scss</code> and generates <code>theme-rtl.css</code>,
                            and <code>theme-rtl.map</code> to the <code>pages/assets/css/ </code> directory.
                          </td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>scss:rtl:min</code></td>
                          <td>Compiles <code>scss/theme.scss</code> and generates <code>theme-rtl.min.css</code>,
                            and <code>theme-rtl.min.map</code> to the <code>pages/assets/css/ </code> directory.
                          </td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>js:bootstrap</code></td>
                          <td>Concat the <code>js</code> files from <code>js/bootstrap/</code> and transpiles with babel to <code>bootstrap.js</code>, <code>bootstrap.min.js</code> to the <code>pages/assets/js/</code> directory.</td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>js:theme</code></td>
                          <td>Concat the <code>js</code> files from <code>js/theme/</code> and transpiles with babel to <code>theme.js</code>, <code>theme.min.js</code> to the <code>pages/assets/js/</code> directory.</td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>js:plugins</code></td>
                          <td>Concat the <code>js</code> files according to the <code>Paths.JS.PLUGINS</code> array declared in <code>gulpfile.js</code> and transpiles with babel to <code>plugins.js</code> and <code>plugins.min.js</code> to the <code>pages/assets/js/</code> directory.</td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>js</code></td>
                          <td>Run the following tasks parallelly:
                            <ul>
                              <li><code>js:bootstrap</code></li>
                              <li><code>js:theme</code></li>
                              <li><code>js:plugins</code></li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>copy:dependency</code></td>
                          <td>Copies the dependencies from <code>node_modules/</code> directory to <code>pages/assets/</code> directory according to the <code>Paths.DEPENDENCIES</code> object declared in <code>gulpfile.js</code>.</td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>watch</code></td>
                          <td>All of the following folders are monitored for changes, which will tell the browser to reload automatically after any changes are made:
                            <pre><code class="lang-html">pages/*.html
pages/assets/fonts/
pages/assets/video/
pages/assets/img/
scss/ 
js/</code></pre>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-nowrap"><code>serve</code></td>
                          <td>Starts a <code>Browsersync</code> instance on port <code>3000</code> served from <code>pages</code>, defaults to <code>index.html</code>.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card mb-3 shadow-none mt-5">
                <div class="card-header" id="rtl">
                  <h3>RTL </h3>
                  <h5 class="mb-0 contains-anchor" id="setting-up-html">Setting up HTML<a href="#setting-up-html" data-fancyscroll data-offset="96">#</a></h5>
                </div>
                <div class="card-body bg-light">
                  <p>Your theme comes with a built-in automated rlt feature. <a href="../layouts/RTL.html">Here</a> is the example. To use rtl, set the <code>dir='rtl'</code> in your html like:</p>
                  <pre><code class="lang-html">&lt;html dir='rtl'&gt;...&lt;/html&gt;</code></pre>
                  <p class="mt-4">And use the rtl stylesheet instead of <code>theme.css</code>:</p>
                  <pre><code class="lang-html">&lt;link href=&quot;assets/css/theme-rtl.css&quot; rel=&quot;stylesheet&quot;&gt;</code></pre>
                </div>
              </div>
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h5 class="mb-0 contains-anchor" id="setting-up-buil-tools">Setting up build tools<a href="#setting-up-buil-tools" data-fancyscroll data-offset="96">#</a></h5>
                </div>
                <div class="card-body bg-light">
                  <p>To compile <code>theme-rtl.css</code> directly with the built tools run:</p>
                  <pre><code class="language-javascript">product scss:rtl
</code></pre>
                  <p class="mt-4">To set your build tool in <code>rtl</code> mode, change the following code located at the last line of your <code>gulpfile.js</code></p>
                  <h5>From:</h5>
                  <pre><code class="language-javascript">gulp.task('default', product.series('copy:dependency', 'scss', 'js', product.parallel('watch', 'serve')));</code></pre>
                  <h5 class="mt-4">to:</h5>
                  <pre><code class="language-javascript">gulp.task('default', product.series('copy:dependency', 'scss:rtl', 'js', product.parallel('watch', 'serve')));
</code></pre>
                  <p class="mt-4">And Also update the <code>gulp watch</code> to call the <code>scss:rtl</code> task by updating the following code at <code>line 401</code> in your <code>gulpfile.js</code>: </p>
                  <h5>From:</h5>
                  <pre><code class="language-javascript">gulp.watch(Paths.SCSS.ALL, product.series('scss'));</code></pre>
                  <h5 class="mt-4">to:</h5>
                  <pre><code class="language-javascript">gulp.watch(Paths.SCSS.ALL, product.series('scss:rtl'));</code></pre>
                </div>
              </div>
              <div class="card mb-3 shadow-none mt-5">
                <div class="card-header">
                  <h3 id="plugin">Plugins</h3>
                  <h5 class="mb-0 contains-anchor" id="adding-new-plugin">Adding new plugins<a href="#adding-new-plugin" data-fancyscroll data-offset="96">#</a></h5>
                </div>
                <div class="card-body bg-light">
                  <p class="mb-0">Adding a new plugin to your theme is simple.Here are two ways you can do that.</p>
                </div>
              </div>
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h5 class="mb-0">Simple approach</h5>
                </div>
                <div class="card-body bg-light">
                  <p class="mb-0">Place your new plugin in <code>pages/assets/lib</code> folder. Eg: to add the <code>typed.js</code> plugin, we will download it from <a href="https://mattboldt.com/demos/typed-js/">here,</a> unzip it and place the <code>typed.js-master</code> folder in <code>pages/assets/lib</code> folder.</p>
                </div>
              </div>
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h5 class="mb-0">Using NPM</h5>
                </div>
                <div class="card-body bg-light">
                  <p>Suppose we are installing the <code>typed.js</code> plugin. Here are the steps:</p>
                  <p class="font-weight-bold text-sans-serif mb-0">Step 1:</p>
                  <pre><code class="lang-js">Paths = {
	... 
	DEPENDENCIES: {
		...
		'typed.js': {
			FROM: 'node_modules/typed.js/lib/*.*',
			TO: lib,
		},
	},
	...
},</code></pre>
                  <p>Here, <code>lib</code> refers to <code>pages/assets/lib</code>, where gulp will copy files from the <code>typed.js</code> plugin. We actually use the <code>lib</code> folder to store neccassary plugins</p>
                  <p class="font-weight-bold text-sans-serif mb-0 mt-3">Step 3:</p>
                  <p>Run the following command:</p>
                  <pre><code class="lang-js">gulp copy:dependency</code></pre>
                </div>
              </div>
              <div class="card mb-3 shadow-none mt-5">
                <div class="card-header">
                  <h3>Built-in plugins</h3>
                </div>
              </div>
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h5 class="mb-0 contains-anchor" id="semantic">Semantic UI (Accordion)<a href="#semantic" data-fancyscroll data-offset="96">#</a></h5>
                </div>
                <div class="card-body bg-light">
                  <p class="mb-0">An accordion allows users to toggle the display of sections of content.</p><a href="https://semantic-ui.com/modules/accordion.html" target="_blank">Full Documentation</a>
                </div>
              </div>
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h5 class="mb-0 contains-anchor" id="date-countdown">Date countdown<a href="#date-countdown" data-fancyscroll data-offset="96">#</a></h5>
                </div>
                <div class="card-body bg-light">
                  <p class="mb-0">A simple and html agnostic date countdown plugin for jQuery</p><a href="http://hilios.github.io/jQuery.countdown/" target="_blank">Full Documentation</a>
                </div>
              </div>
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h5 class="mb-0 contains-anchor" id="fancybox">FancyBox <a href="#fancybox" data-fancyscroll data-offset="96">#</a></h5>
                </div>
                <div class="card-body bg-light">
                  <p class="mb-0">JavaScript lightbox library for presenting various types of media. Responsive, touch-enabled and customizable. </p><a href="http://fancyapps.com/fancybox/3/docs/" target="_blank">Full Documentation</a>
                </div>
              </div>
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h5 class="mb-0 contains-anchor" id="fontawesome">FontAwesome <a href="#fontawesome" data-fancyscroll data-offset="96">#</a></h5>
                </div>
                <div class="card-body bg-light">
                  <p class="mb-0">Get vector icons and social logos on your website with Font Awesome, the web's most popular icon set and toolkit. </p><a href="https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use" target="_blank">Full Documentation</a>
                </div>
              </div>
              <div class="card mb-3 shadow-none">
                <div class="card-header">
                  <h5 class="mb-0 contains-anchor" id="plyr">Plyr<a href="#plyr" data-fancyscroll data-offset="96">#</a></h5>
                </div>
                <div class="card-body bg-light">
                  <p class="mb-0">A simple, accessible and customisable media player for Video, Audio, YouTube and Vimeo.</p><a href="https://plyr.io/" target="_blank">Full Documentation</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <footer class="footer-bg-color">
      <div class="container">
        <div class="row fs--1 no-gutters py-4 text-center">
          <div class="col-md-6 col-sm-auto text-md-left pl-0">
            <p class="mb-0 text-400">Thank you for creating with Confernce <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2019 &copy; <a class="text-info" href="#">Conference</a></p>
          </div>
          <div class="col-md-5 col-sm-auto text-right d-none d-sm-block ml-6 ml-md-0">
            <p class="mb-0 text-400">Made with<span class="fas fa-heart mx-1"> </span>by <a class="text-info" href="https://themewagon.com/themes/">Themewagon</a></p>
          </div>
        </div>
      </div>
    </footer>
    <div class="modal fade bd-example-modal-lg overflow-auto" tabindex="-1" role="dialog" aria-labelledby="registration-modal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header flex-column">
            <button class="close pr-3 pt-2" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="w-75">
              <h4 class="pl-3 text-900" id="registration-modal">Register For Conference</h4>
              <p class="pl-3 mb-0">Conference 2020 will be available in September. Please provide your information to be notified when Conference briefing are made.</p>
            </div>
          </div>
          <div class="modal-body">
            <form class="zform" method="post">
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" required="" placeholder="First Name*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 mt-3">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" required="" placeholder="Last Name*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="email" name="from" required="" placeholder="Business Email Address*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 mt-3">
                  <div class="form-group">
                    <input class="form-control" type="tel" placeholder="Phone">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Company Name">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mb-3">
                  <select class="custom-select mr-sm-2 text-400" id="inlineFormCustomSelect">
                    <option selected="">Country Name</option>
                    <option value="1">Bangladesh</option>
                    <option value="2">India</option>
                    <option value="3">Nepal</option>
                  </select>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 order-sm-0 order-1">
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customControlValidation3" type="checkbox" name="radio-stacked" required="" value="option3">
                    <label class="custom-control-label fs-0 text-500 text-base" for="customControlValidation3">Yes, I would like to receive emails from the <a class="text-decoration-none" href="#">ThemeWagon Inc.</a> </label>
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 pb-3">
                  <button class="btn btn-danger btn-lg" type="submit" name="submit" value="Send!">Submmit</button>
                </div>
              </div>
              <div class="zform-feedback"></div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/lib/loaders.css/loaders.css.js"></script>
    <script src="../assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="../assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="../assets/lib/prismjs/prism.js"></script>
    <script src="../assets/js/theme.js"></script>

  </body>

</html>