<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Conference</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicons/favicon.ico">
    <meta name="msapplication-TileImage" content="../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="../assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="../assets/lib/prismjs/prism-tomorrow.css" rel="stylesheet">
    <link href="../assets/css/theme.css" rel="stylesheet">

  </head>


  <body id="home">

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main>


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader p-0" id="preloader">
        <div class="loader d-flex flex-column align-items-center">
          <div class="ball-scale-ripple">
            <div></div>
          </div>
          <h5 class="fs-1 pr- text-light text-uppercase mb-0 mt-3">Loading</h5>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================--><a class="bottom-to-top rounded-soft" href="#top" data-fancyscroll><span class="fas fa-angle-up lg" data-fa-transform="down-2"></span></a>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0" id="top">
        <div class="container"><a class="navbar-brand ml-3 ml-md-0" href="../index.html"><img src="../assets/img/logos/banner-logo.svg" alt="logo" style="margin-bottom: 9px;" /></a>
          <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse ml-2 ml-md-0" id="navbarContent">
            <ul class="navbar-nav text-uppercase font-weight-semi-bold ml-auto" id="navbar-spy">
              <li class="nav-item dropdown dropdown-menu-on-hover"><a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text"> Home</span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1"><a class="dropdown-item" href="../index.html">Home static</a><a class="dropdown-item" href="../index-rtl.html">Home RTL</a><a class="dropdown-item" href="../index--home-classic.html">Home classic</a><a class="dropdown-item" href="../index--header-slider.html">Home slider</a><a class="dropdown-item" href="../index--header-slider-classic.html">Home slider classic</a><a class="dropdown-item" href="../index--youtube.html">Youtube Background</a><a class="dropdown-item" href="../index--youtube-classic.html">Youtube classic</a><a class="dropdown-item" href="../index--selfhosted.html">self hosted vedio </a><a class="dropdown-item" href="../index--selfhosted-classic.html">self hosted classic </a></div>
              </li>
              <li class="nav-item"><a class="nav-link" href="../index.html#Schedule"><span class="nav-link-text">  Schedule</span></a></li>
              <li class="nav-item"><a class="nav-link" href="../pastevents.html"><span class="nav-link-text"> Event</span></a></li>
              <li class="nav-item"><a class="nav-link" href="../../index.html#contact"> <span class="nav-link-text"> contact</span></a></li>
            </ul>
            <ul class="navbar-nav text-uppercase font-weight-semi-bold">
              <li class="nav-item dropdown dropdown-menu-on-hover"><a class="nav-link dropdown-toggle" id="navbarDropdown2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text"> Elements</span></a>
                <div class="dropdown-menu dropdown-menu-right rounded-soft" aria-labelledby="navbarDropdown2"><a class="dropdown-item" href="../components/typography.html">Typography</a><a class="dropdown-item" href="../components/color.html">Colors</a><a class="dropdown-item" href="../components/buttons.html">Button</a><a class="dropdown-item" href="../components/icons.html">Icons</a><a class="dropdown-item" href="../components/flexslider.html">Flexslider</a><a class="dropdown-item" href="../components/layout.html">Layout Helper</a><a class="dropdown-item" href="../components/googlemap.html">Google Map</a><a class="dropdown-item" href="../components/php-ajax-form.html">Php AJAX Form</a><a class="dropdown-item" href="../components/documentation.html">Documentation</a></div>
              </li>
            </ul>
            <button class="text-base ml-lg-4 mt-3 mt-lg-0 btn btn-outline-light mb-4 mb-lg-0" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Register Now</button>
          </div>
        </div>
      </nav>


      <!-- <section> begin ============================-->
      <section class="py-lg-10 py-8">

        <div class="bg-holder overlay overlay-0" style="background-image:url(../assets/img/background/layout-bg.jpg);">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="text-white" data-zanim-xs='{"animation":"slide-right","delay":0.5,"duration":0.5}' data-zanim-trigger="scroll">Layout Helper</h2>
              <nav class="fs-1" aria-label="breadcrumb" data-zanim-xs='{"animation":"slide-right","delay":0.8,"duration":0.5}' data-zanim-trigger="scroll">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class="text-white" href="../index.html">Home</a></li>
                  <li class="breadcrumb-item active text-white" aria-current="page">Layout Helper</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>


      <!-- <section> begin ============================-->
      <section>

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3>Layout Size</h3>
              <p class="mt-2">Easily make an element as wide or as tall (relative to its parent) with our width and height utilities. Includes support for <code class="highlighter-rouge">25%</code> , <code class="highlighter-rouge">50%</code> , <code class="highlighter-rouge">75%</code> , and <code class="highlighter-rouge">100%</code> by default. The classes are named using the format <code>{property}-{size}</code> for <code>xs</code> and <code>{property}-{breakpoint}-{size}</code> for <code>sm</code>, <code>md</code>, <code>lg</code>,
                and <code>xl</code>.
              </p><a href="https://getbootstrap.com/docs/4.3/utilities/sizing/" target="_blank">Sizing on Bootstrap<span class="fas fa-chevron-right ml-1 fs--2"></span></a>
            </div>
          </div>
          <div class="card mb-3 shadow-none mt-5">
            <div class="card-header">
              <h5 class="mb-0">Width (relative to parent)</h5>
            </div>
            <div class="card-body bg-light">
              <div class="row mt-2">
                <div class="col-12">
                  <div class="bg-light text-dark p-2 border-dashed mb-3 w-100"><code>.w-100</code></div>
                  <div class="bg-light text-dark p-2 border-dashed mb-3 w-75"><code>.w-75</code></div>
                  <div class="bg-light text-dark p-2 border-dashed mb-3 w-50"><code>.w-50</code></div>
                  <div class="bg-light text-dark p-2 border-dashed mb-3 w-25"><code>.w-25</code></div>
                  <div class="bg-light text-dark p-2 border-dashed mb-3 w-auto"><code>.w-auto</code></div>
                </div>
                <div class="col-12">
                  <pre class="rounded mt-2"><code class="language-html">&lt;div class=&quot;bg-light text-dark p-2 border-dashed mb-3 w-100&quot;&gt;&lt;code&gt;.w-100&lt;/code&gt;&lt;/div&gt;
&lt;div class=&quot;bg-light text-dark p-2 border-dashed mb-3 w-75&quot;&gt;&lt;code&gt;.w-75&lt;/code&gt;&lt;/div&gt;
&lt;div class=&quot;bg-light text-dark p-2 border-dashed mb-3 w-50&quot;&gt;&lt;code&gt;.w-50&lt;/code&gt;&lt;/div&gt;
&lt;div class=&quot;bg-light text-dark p-2 border-dashed mb-3 w-25&quot;&gt;&lt;code&gt;.w-25&lt;/code&gt;&lt;/div&gt;
&lt;div class=&quot;bg-light text-dark p-2 border-dashed mb-3 w-auto&quot;&gt;&lt;code&gt;.w-auto&lt;/code&gt;&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 shadow-none mt-5">
            <div class="card-header">
              <h5 class="mb-0">Height (relative to parent)</h5>
            </div>
            <div class="card-body bg-light">
              <div class="row mt-2">
                <div class="col-12">
                  <div class="vh-100 text-dark py-3">
                    <div class="d-flex h-100">
                      <div class="col">
                        <div class="bg-light p-2 border-dashed mb-3 h-100"><code>.h-100</code></div>
                      </div>
                      <div class="col">
                        <div class="bg-light p-2 border-dashed mb-3 h-75"><code>.h-75</code></div>
                      </div>
                      <div class="col">
                        <div class="bg-light p-2 border-dashed mb-3 h-50"><code>.h-50</code></div>
                      </div>
                      <div class="col">
                        <div class="bg-light p-2 border-dashed mb-3 h-25"><code>.h-25</code></div>
                      </div>
                      <div class="col">
                        <div class="bg-light p-2 border-dashed mb-3 h-auto"><code>.h-auto</code></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <pre class="rounded mt-2"><code class="language-html">&lt;div class=&quot;vh-100 text-dark py-3&quot;&gt;
  &lt;div class=&quot;d-flex h-100&quot;&gt;
    &lt;div class=&quot;col&quot;&gt;
      &lt;div class=&quot;bg-light p-2 border-dashed mb-3 h-100&quot;&gt;&lt;code&gt;.h-100&lt;/code&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col&quot;&gt;
      &lt;div class=&quot;bg-light p-2 border-dashed mb-3 h-75&quot;&gt;&lt;code&gt;.h-75&lt;/code&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col&quot;&gt;
      &lt;div class=&quot;bg-light p-2 border-dashed mb-3 h-50&quot;&gt;&lt;code&gt;.h-50&lt;/code&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col&quot;&gt;
      &lt;div class=&quot;bg-light p-2 border-dashed mb-3 h-25&quot;&gt;&lt;code&gt;.h-25&lt;/code&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col&quot;&gt;
      &lt;div class=&quot;bg-light p-2 border-dashed mb-3 h-auto&quot;&gt;&lt;code&gt;.h-auto&lt;/code&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 shadow-none mt-5">
            <div class="card-header">
              <h5 class="mb-1">Special classes (relative to viewport)</h5>
              <p class="mb-0">Responsive variations also exist for sizing classes relative to the <code>viewport</code>. Here are all the support classes:</p>
            </div>
            <div class="card-body bg-light">
              <pre class="rounded-soft"><code class="lang-css">.min-vw-100 { min-width: 100vw; }
.vw-100 { width: 100vw; }
.max-vh-100 { max-height: 100vh; }
.max-vh-75 { max-height: 75vh; }
.max-vh-50 { max-height: 50vh; }
.max-vh-25 { max-height: 25vh; }
.min-vh-100 { min-height: 100vh; }
.min-vh-75 { min-height: 75vh; }
.min-vh-50 { min-height: 50vh; }
.min-vh-25 { min-height: 25vh; }
.vh-100 { height: 100vh !important; }
.vh-75 { height: 75vh !important; }
.vh-50 { height: 50vh !important; }
.vh-25 { height: 25vh !important; }
.max-vh-sm-100 { max-height: 100vh; }
.max-vh-sm-75 { max-height: 75vh; }
.max-vh-sm-50 { max-height: 50vh; }
.max-vh-sm-25 { max-height: 25vh; }
.min-vh-sm-100 { min-height: 100vh; }
.min-vh-sm-75 { min-height: 75vh; }
.min-vh-sm-50 { min-height: 50vh; }
.min-vh-sm-25 { min-height: 25vh; }
.vh-sm-100 { height: 100vh !important; }
.vh-sm-75 { height: 75vh !important; }
.vh-sm-50 { height: 50vh !important; }
.vh-sm-25 { height: 25vh !important; }
.max-vh-md-100 { max-height: 100vh; }
.max-vh-md-75 { max-height: 75vh; }
.max-vh-md-50 { max-height: 50vh; }
.max-vh-md-25 { max-height: 25vh; }
.min-vh-md-100 { min-height: 100vh; }
.min-vh-md-75 { min-height: 75vh; }
.min-vh-md-50 { min-height: 50vh; }
.min-vh-md-25 { min-height: 25vh; }
.vh-md-100 { height: 100vh !important; }
.vh-md-75 { height: 75vh !important; }
.vh-md-50 { height: 50vh !important; }
.vh-md-25 { height: 25vh !important; }
.max-vh-lg-100 { max-height: 100vh; }
.max-vh-lg-75 { max-height: 75vh; }
.max-vh-lg-50 { max-height: 50vh; }
.max-vh-lg-25 { max-height: 25vh; }
.min-vh-lg-100 { min-height: 100vh; }
.min-vh-lg-75 { min-height: 75vh; }
.min-vh-lg-50 { min-height: 50vh; }
.min-vh-lg-25 { min-height: 25vh; }
.vh-lg-100 { height: 100vh !important; }
.vh-lg-75 { height: 75vh !important; }
.vh-lg-50 { height: 50vh !important; }
.vh-lg-25 { height: 25vh !important; }
.max-vh-xl-100 { max-height: 100vh; }
.max-vh-xl-75 { max-height: 75vh; }
.max-vh-xl-50 { max-height: 50vh; }
.max-vh-xl-25 { max-height: 25vh; }
.min-vh-xl-100 { min-height: 100vh; }
.min-vh-xl-75 { min-height: 75vh; }
.min-vh-xl-50 { min-height: 50vh; }
.min-vh-xl-25 { min-height: 25vh; }
.vh-xl-100 { height: 100vh !important; }
.vh-xl-75 { height: 75vh !important; }
.vh-xl-50 { height: 50vh !important; }
.vh-xl-25 { height: 25vh !important; }
.max-vh-xxl-100 { max-height: 100vh; }
.max-vh-xxl-75 { max-height: 75vh; }
.max-vh-xxl-50 { max-height: 50vh; }
.max-vh-xxl-25 { max-height: 25vh; }
.min-vh-xxl-100 { min-height: 100vh; }
.min-vh-xxl-75 { min-height: 75vh; }
.min-vh-xxl-50 { min-height: 50vh; }
.min-vh-xxl-25 { min-height: 25vh; }
.vh-xxl-100 { height: 100vh !important; }
.vh-xxl-75 { height: 75vh !important; }
.vh-xxl-50 { height: 50vh !important; }
.vh-xxl-25 { height: 25vh !important; }</code></pre>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <footer class="footer-bg-color">
      <div class="container">
        <div class="row fs--1 no-gutters py-4 text-center">
          <div class="col-md-6 col-sm-auto text-md-left pl-0">
            <p class="mb-0 text-400">Thank you for creating with Confernce <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2019 &copy; <a class="text-info" href="#">Conference</a></p>
          </div>
          <div class="col-md-5 col-sm-auto text-right d-none d-sm-block ml-6 ml-md-0">
            <p class="mb-0 text-400">Made with<span class="fas fa-heart mx-1"> </span>by <a class="text-info" href="https://themewagon.com/themes/">Themewagon</a></p>
          </div>
        </div>
      </div>
    </footer>
    <div class="modal fade bd-example-modal-lg overflow-auto" tabindex="-1" role="dialog" aria-labelledby="registration-modal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header flex-column">
            <button class="close pr-3 pt-2" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="w-75">
              <h4 class="pl-3 text-900" id="registration-modal">Register For Conference</h4>
              <p class="pl-3 mb-0">Conference 2020 will be available in September. Please provide your information to be notified when Conference briefing are made.</p>
            </div>
          </div>
          <div class="modal-body">
            <form class="zform" method="post">
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" required="" placeholder="First Name*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 mt-3">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" required="" placeholder="Last Name*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="email" name="from" required="" placeholder="Business Email Address*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 mt-3">
                  <div class="form-group">
                    <input class="form-control" type="tel" placeholder="Phone">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Company Name">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mb-3">
                  <select class="custom-select mr-sm-2 text-400" id="inlineFormCustomSelect">
                    <option selected="">Country Name</option>
                    <option value="1">Bangladesh</option>
                    <option value="2">India</option>
                    <option value="3">Nepal</option>
                  </select>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 order-sm-0 order-1">
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customControlValidation3" type="checkbox" name="radio-stacked" required="" value="option3">
                    <label class="custom-control-label fs-0 text-500 text-base" for="customControlValidation3">Yes, I would like to receive emails from the <a class="text-decoration-none" href="#">ThemeWagon Inc.</a> </label>
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 pb-3">
                  <button class="btn btn-danger btn-lg" type="submit" name="submit" value="Send!">Submmit</button>
                </div>
              </div>
              <div class="zform-feedback"></div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/lib/loaders.css/loaders.css.js"></script>
    <script src="../assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="../assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="../assets/lib/prismjs/prism.js"></script>
    <script src="../assets/js/theme.js"></script>

  </body>

</html>