<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Conference</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicons/favicon.ico">
    <meta name="msapplication-TileImage" content="../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="../assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="../assets/lib/prismjs/prism-tomorrow.css" rel="stylesheet">
    <link href="../assets/css/theme.css" rel="stylesheet">

  </head>


  <body id="home">

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main>


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader p-0" id="preloader">
        <div class="loader d-flex flex-column align-items-center">
          <div class="ball-scale-ripple">
            <div></div>
          </div>
          <h5 class="fs-1 pr- text-light text-uppercase mb-0 mt-3">Loading</h5>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================--><a class="bottom-to-top rounded-soft" href="#top" data-fancyscroll><span class="fas fa-angle-up lg" data-fa-transform="down-2"></span></a>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0" id="top">
        <div class="container"><a class="navbar-brand ml-3 ml-md-0" href="../index.html"><img src="../assets/img/logos/banner-logo.svg" alt="logo" style="margin-bottom: 9px;" /></a>
          <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse ml-2 ml-md-0" id="navbarContent">
            <ul class="navbar-nav text-uppercase font-weight-semi-bold ml-auto" id="navbar-spy">
              <li class="nav-item dropdown dropdown-menu-on-hover"><a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text"> Home</span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1"><a class="dropdown-item" href="../index.html">Home static</a><a class="dropdown-item" href="../index-rtl.html">Home RTL</a><a class="dropdown-item" href="../index--home-classic.html">Home classic</a><a class="dropdown-item" href="../index--header-slider.html">Home slider</a><a class="dropdown-item" href="../index--header-slider-classic.html">Home slider classic</a><a class="dropdown-item" href="../index--youtube.html">Youtube Background</a><a class="dropdown-item" href="../index--youtube-classic.html">Youtube classic</a><a class="dropdown-item" href="../index--selfhosted.html">self hosted vedio </a><a class="dropdown-item" href="../index--selfhosted-classic.html">self hosted classic </a></div>
              </li>
              <li class="nav-item"><a class="nav-link" href="../index.html#Schedule"><span class="nav-link-text">  Schedule</span></a></li>
              <li class="nav-item"><a class="nav-link" href="../pastevents.html"><span class="nav-link-text"> Event</span></a></li>
              <li class="nav-item"><a class="nav-link" href="../../index.html#contact"> <span class="nav-link-text"> contact</span></a></li>
            </ul>
            <ul class="navbar-nav text-uppercase font-weight-semi-bold">
              <li class="nav-item dropdown dropdown-menu-on-hover"><a class="nav-link dropdown-toggle" id="navbarDropdown2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text"> Elements</span></a>
                <div class="dropdown-menu dropdown-menu-right rounded-soft" aria-labelledby="navbarDropdown2"><a class="dropdown-item" href="../components/typography.html">Typography</a><a class="dropdown-item" href="../components/color.html">Colors</a><a class="dropdown-item" href="../components/buttons.html">Button</a><a class="dropdown-item" href="../components/icons.html">Icons</a><a class="dropdown-item" href="../components/flexslider.html">Flexslider</a><a class="dropdown-item" href="../components/layout.html">Layout Helper</a><a class="dropdown-item" href="../components/googlemap.html">Google Map</a><a class="dropdown-item" href="../components/php-ajax-form.html">Php AJAX Form</a><a class="dropdown-item" href="../components/documentation.html">Documentation</a></div>
              </li>
            </ul>
            <button class="text-base ml-lg-4 mt-3 mt-lg-0 btn btn-outline-light mb-4 mb-lg-0" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Register Now</button>
          </div>
        </div>
      </nav>


      <!-- <section> begin ============================-->
      <section class="py-lg-10 py-8">

        <div class="bg-holder overlay overlay-0" style="background-image:url(../assets/img/background/login-form-page-computer-generated-animation_vvsvvhx6l__F0000.png);">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="text-white" data-zanim-xs='{"animation":"slide-right","delay":0.5,"duration":0.5}' data-zanim-trigger="scroll">Php AJAX FORM</h2>
              <nav class="fs-1" aria-label="breadcrumb" data-zanim-xs='{"animation":"slide-right","delay":0.8,"duration":0.5}' data-zanim-trigger="scroll">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class="text-white" href="../index.html">Home</a></li>
                  <li class="breadcrumb-item active text-white" aria-current="page">Php AJAX FORM</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>


      <!-- <section> begin ============================-->
      <section>

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5>PHP-AJAX Form</h5>
              <p>Conference has a built-in universal php-ajax form that can grab dynamic amounts of inputs and send it to any given email address. To make the form work, simply add the class <code>.zform</code> like <code>&lt;form class=&quot;zform&quot;&gt;</code>.</p>
              <p>You can also specify where to send the data via an hidden input:</p>
              <pre class="mt-2"><code class="language-html">&lt;input type=&quot;hidden&quot; name=&quot;to&quot; value=&quot;username@domain.extension&quot;&gt;</code></pre>
              <pre class="mt-2"></pre> Other reserved <code>name</code> fields are: <code>subject</code>, <code>email</code>, <code>name</code>
              <p class="mt-3 mb-4">See the sample code under the form bellow for better understanding.</p>
              <div class="row mt-2">
                <div class="col-12">
                  <form class="zform pl-3" method="post">
                    <div class="form-group">
                      <input class="form-control" type="hidden" name="to" value="username@domain.extension">
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-lg-1 pl-0 col-form-label text-left">Name :</label>
                      <div class="col-9">
                        <input class="form-control" type="text" name="name" required="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-lg-1 pl-0 col-form-label text-left">Subject :</label>
                      <div class="col-9">
                        <input class="form-control" type="text" name="subject" required="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-lg-1 pl-0 col-form-label text-left">Email :</label>
                      <div class="col-9">
                        <input class="form-control" type="email" name="from" required="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-lg-1 pl-0 col-form-label text-left">Field One :</label>
                      <div class="col-9">
                        <input class="form-control" type="text" name="field-1" placeholder="Optional">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-lg-1 pl-0 col-form-label text-left">Field Two :</label>
                      <div class="col-9">
                        <input class="form-control" type="text" name="field-2" placeholder="Optional">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-lg-1 pl-0 col-form-label text-left">Message :</label>
                      <div class="col-9">
                        <textarea class="form-control" rows="8" name="message" placeholder="Write your message here..."></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-9 offset-lg-1 offset-md-2">
                        <input class="btn btn-primary px-4 py-2" type="submit" name="submit" value="Send!">
                      </div>
                    </div>
                    <div class="zform-feedback"></div>
                  </form>
                </div>
                <div class="col-12">
                  <pre class="rounded mt-2"><code class="language-html">&lt;form class=&quot;zform pl-3&quot; method=&quot;post&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;input class=&quot;form-control&quot; type=&quot;hidden&quot; name=&quot;to&quot; value=&quot;username@domain.extension&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group row&quot;&gt;
    &lt;label class=&quot;col-md-2 col-lg-1 pl-0 col-form-label text-left&quot;&gt;Name :&lt;/label&gt;
    &lt;div class=&quot;col-9&quot;&gt;
      &lt;input class=&quot;form-control&quot; type=&quot;text&quot; name=&quot;name&quot; required=&quot;&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group row&quot;&gt;
    &lt;label class=&quot;col-md-2 col-lg-1 pl-0 col-form-label text-left&quot;&gt;Subject :&lt;/label&gt;
    &lt;div class=&quot;col-9&quot;&gt;
      &lt;input class=&quot;form-control&quot; type=&quot;text&quot; name=&quot;subject&quot; required=&quot;&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group row&quot;&gt;
    &lt;label class=&quot;col-md-2 col-lg-1 pl-0 col-form-label text-left&quot;&gt;Email :&lt;/label&gt;
    &lt;div class=&quot;col-9&quot;&gt;
      &lt;input class=&quot;form-control&quot; type=&quot;email&quot; name=&quot;from&quot; required=&quot;&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group row&quot;&gt;
    &lt;label class=&quot;col-md-2 col-lg-1 pl-0 col-form-label text-left&quot;&gt;Field One :&lt;/label&gt;
    &lt;div class=&quot;col-9&quot;&gt;
      &lt;input class=&quot;form-control&quot; type=&quot;text&quot; name=&quot;field-1&quot; placeholder=&quot;Optional&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group row&quot;&gt;
    &lt;label class=&quot;col-md-2 col-lg-1 pl-0 col-form-label text-left&quot;&gt;Field Two :&lt;/label&gt;
    &lt;div class=&quot;col-9&quot;&gt;
      &lt;input class=&quot;form-control&quot; type=&quot;text&quot; name=&quot;field-2&quot; placeholder=&quot;Optional&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group row&quot;&gt;
    &lt;label class=&quot;col-md-2 col-lg-1 pl-0 col-form-label text-left&quot;&gt;Message :&lt;/label&gt;
    &lt;div class=&quot;col-9&quot;&gt;
      &lt;textarea class=&quot;form-control&quot; rows=&quot;8&quot; name=&quot;message&quot; placeholder=&quot;Write your message here...&quot;&gt;&lt;/textarea&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group row&quot;&gt;
    &lt;div class=&quot;col-9 offset-lg-1 offset-md-2&quot;&gt;
      &lt;input class=&quot;btn btn-primary px-4 py-2&quot; type=&quot;submit&quot; name=&quot;submit&quot; value=&quot;Send!&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;zform-feedback&quot;&gt;&lt;/div&gt;
&lt;/form&gt;</code></pre>
                </div>
              </div>
              <h4 class="mt-5">Integrating reCaptcha</h4>
              <p>Get your secret and site key <a class="color-primary" href="https://www.google.com/recaptcha/intro/" target="_blank">here ⟶</a></p>
              <h5 class="mt-3">HTML</h5>
              <pre class="mt-2"><code class="language-html">&lt;form class=&quot;zform&quot; method=&quot;post&quot;&gt;
  ...
  ...
  &lt;div class=&quot;g-recaptcha&quot; data-sitekey=&quot;YOUR_SITE_KEY&quot;&gt;&lt;/div&gt;
  &lt;input type=&quot;submit&quot; value=&quot;Submit&quot;&gt;
&lt;/form&gt;</code></pre>
              <h5 class="mt-4">JavaScript</h5>
              <pre class="mt-2"><code class="language-html">&lt;script src=&quot;https://www.google.com/recaptcha/api.js&quot;&gt;&lt;/script&gt;</code></pre>
              <h5 class="mt-4">PHP</h5>
              <p>Open <code>assets/php/form-processor.php</code> and change the secret key with yours at <code>line: 13</code></p>
              <pre class="mt-2"><code class="language-html">$reCaptchaSecret = &quot;YOUR_SECRET_KEY&quot;;</code></pre>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <footer class="footer-bg-color">
      <div class="container">
        <div class="row fs--1 no-gutters py-4 text-center">
          <div class="col-md-6 col-sm-auto text-md-left pl-0">
            <p class="mb-0 text-400">Thank you for creating with Confernce <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2019 &copy; <a class="text-info" href="#">Conference</a></p>
          </div>
          <div class="col-md-5 col-sm-auto text-right d-none d-sm-block ml-6 ml-md-0">
            <p class="mb-0 text-400">Made with<span class="fas fa-heart mx-1"> </span>by <a class="text-info" href="https://themewagon.com/themes/">Themewagon</a></p>
          </div>
        </div>
      </div>
    </footer>
    <div class="modal fade bd-example-modal-lg overflow-auto" tabindex="-1" role="dialog" aria-labelledby="registration-modal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header flex-column">
            <button class="close pr-3 pt-2" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="w-75">
              <h4 class="pl-3 text-900" id="registration-modal">Register For Conference</h4>
              <p class="pl-3 mb-0">Conference 2020 will be available in September. Please provide your information to be notified when Conference briefing are made.</p>
            </div>
          </div>
          <div class="modal-body">
            <form class="zform" method="post">
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" required="" placeholder="First Name*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 mt-3">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" required="" placeholder="Last Name*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="email" name="from" required="" placeholder="Business Email Address*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 mt-3">
                  <div class="form-group">
                    <input class="form-control" type="tel" placeholder="Phone">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Company Name">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mb-3">
                  <select class="custom-select mr-sm-2 text-400" id="inlineFormCustomSelect">
                    <option selected="">Country Name</option>
                    <option value="1">Bangladesh</option>
                    <option value="2">India</option>
                    <option value="3">Nepal</option>
                  </select>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 order-sm-0 order-1">
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customControlValidation3" type="checkbox" name="radio-stacked" required="" value="option3">
                    <label class="custom-control-label fs-0 text-500 text-base" for="customControlValidation3">Yes, I would like to receive emails from the <a class="text-decoration-none" href="#">ThemeWagon Inc.</a> </label>
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 pb-3">
                  <button class="btn btn-danger btn-lg" type="submit" name="submit" value="Send!">Submmit</button>
                </div>
              </div>
              <div class="zform-feedback"></div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/lib/loaders.css/loaders.css.js"></script>
    <script src="../assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="../assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="../assets/lib/prismjs/prism.js"></script>
    <script src="../assets/js/theme.js"></script>

  </body>

</html>