{% extends "index.html" %}
{% load static %}
{% block title %}
<title>Best IT Career Course</title>
{% endblock %}
{% block body %}
<link href="{% static 'assets/css/course.css' %}" rel="stylesheet">

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="container p-0" id="sidebar-wrapper">
    <div class="bg-light border-right sidebar-color">
      <div class="sidebar-heading fs-3 list-group-item">Courses</div>
      <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-action">
          Career Course
          <div class="nested-links">
            <a href="#ck-dccp-section" class="list-group-item list-group-item-action pl-4">CK-DCCP</a>
            <a href="#ck-dcc-csp-section" class="list-group-item list-group-item-action pl-4">CK-DCC & CSP</a>
            <a href="#ck-dccp-level-2-section" class="list-group-item list-group-item-action pl-4">CK-DCCP Level-2</a>
          </div>
        </div>
        <div class="list-group-item list-group-item-action">
          Cloud Computing
          <div class="nested-links">
            <a href="#aws-section" class="list-group-item list-group-item-action pl-4">AWS</a>
            <a href="#Azure-section" class="list-group-item list-group-item-action pl-4">Azure</a>
            <a href="#GCP-section" class="list-group-item list-group-item-action pl-4">GCP</a>
          </div>
        </div>
        <div class="list-group-item list-group-item-action">
          Networking
          <div class="nested-links">
            <a href="#ccna-section" class="list-group-item list-group-item-action pl-4">CCNA</a>
            <a href="#ccnp-section" class="list-group-item list-group-item-action pl-4">CCNP</a>
          </div>
        </div>
        <a href="#mcsa-section" class="list-group-item list-group-item-action">MCSA</a>
        <a href="#mcse-section" class="list-group-item list-group-item-action">MCSE</a>
        <a href="#rhcsa-section" class="list-group-item list-group-item-action">RHCSA</a>
        <a href="#cyber-security-section" class="list-group-item list-group-item-action">Cyber Security</a>
        <a href="#devops-section" class="list-group-item list-group-item-action">Devops</a>
        <a href="#mlops-section" class="list-group-item list-group-item-action">mLOps</a>
        <div class="list-group-item list-group-item-action">
          Python Developer
          <div class="nested-links">
            <a href="#data-analytics-section" class="list-group-item list-group-item-action pl-4">Data Analytics</a>
            <a href="#data-science-section" class="list-group-item list-group-item-action pl-4">Data Science</a>
            <a href="#python-full-stack-section"
              class="list-group-item list-group-item-action pl-4">Python Full Stack</a>
          </div>
        </div>
        <a href="#java-full-stack-section" class="list-group-item list-group-item-action">Java Full Stack</a>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="mt-auto p-1">
      <img src="{% static 'assets/images/b7.jpg' %}" style="height: 100vh; width: 100%;" class="img-fluid w-100 h-auto"
        alt="Sidebar Image">
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

<section class="sec" id="ck-dccp-section" style="margin-top:-30px">
  <div class="container-fluid">
    <h3 class="text-center" style="color:#d50909">CK-DCCP</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909;border-radius:60px">CK-Diploma in
      Cloud Computing Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 " style="height: 100vh;"
        src="{% static 'assets/course-images/CK-DCCP/c1.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c2.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c3.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
        
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c4.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">

          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c5.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c6.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">

          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c7.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c8.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">

          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c9.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c10.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">

          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c11.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c12.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">

          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c13.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c14.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">

          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c15.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c16.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">

          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c17.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c18.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">

          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCCP/c19.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="ck-dcc-csp-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">CK-DCC & CSP</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">2</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="ck-dccp-level-2-section">
  <div class="container-fluid">
    <h3 class="text-center " style="color:#d50909">CK-DCCP level-2</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909;border-radius:60px">CK-Diploma in
      Cloud Computing L2 Professional</p>
    <div class="container-fluid">
      <img class="rounded  img-fluid w-100" style="height: 100vh;"
        src="{% static 'assets/course-images/CK-DCC-L2p/1.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/2.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/3.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/4.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/5.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/6.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/7.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/8.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/9.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/10.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/11.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/12.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/13.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/14.jpg' %}"
            alt="" data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/course-images/CK-DCC-L2p/15.jpg' %}"
            alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>


  </div>
</section>

<section class="sec" id="aws-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">AWS</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="Azure-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">Azure</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="GCP-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">GCP</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="ccna-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">CCNA-NETWORKING</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="ccnp-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">CCNP-Networking</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="mcsa-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">MCSA</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="mcse-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">MCSE</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="rhcsa-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">RHCSA</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="cyber-security-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">CYBER-SECURITY</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="devops-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">Devops</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="mlops-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">mLOps</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="data-analytics-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">Data Analytics</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="data-science-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">Data Science</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="python-full-stack-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">Python Full Stack</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec" id="java-full-stack-section">
  <div class="container">
    <h3 class="text-center " style="color:#d50909">Java Full Stack</h3>
    <p class="text-center text-white fs-2 pt-3 pb-3" style="background-color:#d50909">CK-Diploma in Cloud Computing
      Professional</p>
    <div class="container-fluid">
      <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
        data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
        data-zanim-trigger="scroll" />

    </div>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-between pr-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/images/b5.jpg' %}" alt=""
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between mt-5 mt-md-0 pl-md-5">
          <div></div>
          <img class="rounded mt-4 img-fluid w-100 h-80" src="{% static 'assets/img/section_01.jpg' %}" alt=" "
            data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
            data-zanim-trigger="scroll" />
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();
      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>

{% endblock %}