{% extends "index.html" %}
{% load static %}

    {% block title %}
    <title>Best IT Career Course</title>
    {% endblock %}

  
      {% block body %}
      <!-- <section> begin ============================-->
      <section class="py-8 py-lg-11 text-white">

        <div class="bg-holder overlay overlay-0" style="background-image:url(assets/img/background/blog_4.jpg);">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row">
            <div class="col">
              <h3 class="text-white">Lunch at Conference: whats on the menu?</h3>
              <P class="fs-1">[October 8, 2019 - by Developers]</P>
            </div>
          </div>
        </div>
      </section>


      <!-- <section> begin ============================-->
      <section>

        <div class="container">
          <div class="row justify-content-xl-between">
            <div class="col-lg-8">
              <div class="fs-1">
                <p class="dropcap mb-1">You’ll find an overview for what’s on offer for developers, an interview with a dev, as well as some useful details. Expo has 3 dedicated conferences for devs; FullSTK, binate.io and creatiff. There are also a number of other conferences of some interest focused on <a class="text-danger text-decoration-none" href="#">AI, Robotics and related fields</a>. There are also numerous in depth workshops run by a whole host of people. Amazon’s CTO and his AWS team for example will be running workshops throughout Web Summit. IBM, Siemens, Cisco and others also do really great things, details below.</p>
                <p>There’s also a dedicated Developer Lounge, and tons of meetups and parties at night for every imaginable community. We spoke to Expo it speaker, DevRelate founder and developer PJ Hagerty about getting the most from your time at Expo as a developer.</p>
                <h4 class="text-dark mt-4 mb-3">As a Developer, What’s the Most Useful Thing You’ve Learned?</h4>
                <p>This isn’t exclusive to Expo, but I’ve always found speaking to as many of the speakers as possible is helpful. There’s also something called Office Hour, where you can speak one-on-one with folks to get ideas and find the spark you might be looking for.</p>
                <div class="row mt-4">
                  <div class="col-6"><img class="img-fluid rounded-soft" src="assets/img/team/portfolio_02-740x740.jpg" alt=""></div>
                  <div class="col-6"><img class="img-fluid rounded-soft" src="assets/img/team/portfolio_03-740x740.jpg" alt=""></div>
                </div>
                <h4 class="text-dark mt-5 mb-3">How Should a Developer Divide Their Time to Get the Most Out?</h4>
                <p>Always the question! Make sure to check out the schedule (especially the FullSTK stage as that is full of technical content) and have a plan for your time. I might be biased, since I’ve hosted and spoken on FullSTK over the past few years. <a class="text-danger text-decoration-none" href="#">Make sure to take breaks, though</a>. Expo can be busy, with a fast pace. Look for places in the schedule where you can walk away and focus on chatting to folks, just to review ideas.</p>
                <ul class="style-check">
                  <li>It was a talk by Curt Cronin about teams and leadership. Based on his experience as a Navy Seal.</li>
                  <li>I try to engage with as many people as possible to see where things are leading and where the focus is.</li>
                  <li>There are always plenty of great talks – I focus mostly on FullSTK and binate.io as a developer.</li>
                </ul>
                <div class="rounded-soft overflow-hidden mt-5">
                  <div class="player" data-plyr-provider="youtube" data-plyr-embed-id="MUcwm720oM0"></div>
                </div>
                <h4 class="text-dark mt-5 mb-3">What’s the Most Useful Talk You’ve Ever Seen at Conference?</h4>
                <p>One of the best talks I’ve seen was at Expo in 2018. It was a talk by <a class="text-danger text-decoration-none" href="#">Curt Cronin about teams and leadership</a>. Based on his experience as a Navy Seal, he discussed how teams of developers (and the greater tech space) can function better when focusing on trust and communication. There are always plenty of great talks – I focus mostly on FullSTK and binate.io as a developer, with the occasional nod to a Centre Stage talk from leaders in the industry.</p>
                <blockquote class="blockquote m-4">
                  <p class="fs-2 mb-0">There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</p>
                  <footer class="blockquote-footer mt-1"> Paul Tournier</footer>
                </blockquote>
                <p class="mt-4">That said, nothing compares to being involved. I try to engage with as many people as possible to see where things are leading and where the focus is. There are some conversations that become more “what not to do”, but overall, engaging with people is where I learn most.</p>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <h4 class="text-dark mt-5 mb-4">Related Post</h4><a class="text-decoration-none" href="#">
                    <div class="card-deck">
                      <div class="card hvr-event-card shadow-none border mb-4 mb-md-0">
                        <div class="card-img-top">
                          <div class="hoverbox rounded rounded-bottom-0"><img class="img-fluid rounded rounded-bottom-0" src="assets/img/blog_3-740x460-740x460.jpg" alt="Card image cap">
                            <div class="hoverbox-content bg-overlay-0"></div>
                          </div>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title text-dark">Discover Tech Talent with Indeed at Forum</h5>
                          <p class="card-text text-600">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">[Octobor 12, 2019]</small></p>
                        </div>
                      </div>
                      <div class="card hvr-event-card shadow-none border">
                        <div class="card-img-top">
                          <div class="hoverbox rounded rounded-bottom-0"><img class="img-fluid rounded rounded-bottom-0" src="assets/img/blog_6-740x460-740x460.jpg" alt="Card image cap">
                            <div class="hoverbox-content bg-overlay-0"></div>
                          </div>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title text-dark">Announcing Our First 200 Exhibitors</h5>
                          <p class="card-text text-600">Conference will gather over 5,000 CTOs in one place, and about another 11,000 engineers. If you are a first time dev at Expo this post should help you think about your trip.</p>
                          <p class="card-text"><small class="text-muted">[Octobor 8, 2019]</small></p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h4 class="mt-5 mb-4 text-dark">leave a message</h4>
                  <form class="zform" method="post">
                    <input class="form-control" type="hidden" name="to" value="username@domain.extension">
                    <div class="form-row">
                      <div class="col-sm-5">
                        <input class="form-control" type="text" name="name" required="" placeholder="First Name">
                      </div>
                      <div class="col-sm-5 mt-sm-0 mt-3">
                        <input class="form-control" type="text" name="name" required="" placeholder="Last Name">
                      </div>
                    </div>
                    <div class="form-row mt-2">
                      <div class="col-sm-10">
                        <input class="form-control" type="email" name="from" required="" placeholder="Email">
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-10">
                        <textarea class="rounded-soft form-control" name="massage" cols="30" rows="10" placeholder="Type your message"></textarea>
                      </div>
                    </div>
                  </form>
                  <div class="btn btn-danger rounded-capsule btn-lg mt-3">post Comments</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 pl-xl-7 mt-6 mt-lg-0">
              <div class="bg-light rounded overflow-hidden">
                <div class="row flex-center">
                  <div class="col-lg-12 col-md-4"><img class="img-fluid" src="assets/img/team/speaker1.jpg" alt="team-picture"></div>
                  <div class="col p-4 text-lg-center">
                    <h5 class="text-dark">Harry Samsuddin</h5>
                    <p class="text-secondary mt-2">Hear 9 inspiring talks, meet the best product people in Europe, and party together after the conference!</p><a class="text-400 fs-1" href="#"><i class="fab fa-twitter"></i></a><a class="text-400 fs-1 mx-3" href="#"><i class="fab fa-linkedin-in"></i></a><a class="text-400 fs-1" href="#"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
              </div>
              <h5 class="text-dark text-center mt-6 mb-3 d-none d-lg-block">From the Gallery</h5>
              <div class="gellary-img mt-6 mt-lg-0"><a href="assets/img/blog_12-540x540.jpg" data-fancybox="gallery" data-caption="Image caption">
                  <div class="hoverbox rounded"><img class="img-fluid rounded-soft" src="assets/img/blog_12-540x540.jpg" alt="">
                    <div class="hoverbox-content bg-overlay-0"></div>
                  </div>
                </a><a href="assets/img/blog_3-740x460-740x460.png" data-fancybox="gallery" data-caption="Image caption">
                  <div class="hoverbox rounded"><img class="img-fluid rounded-soft object-fit-cover" src="assets/img/blog_3-740x460-740x460.png" alt="">
                    <div class="hoverbox-content bg-overlay-0"></div>
                  </div>
                </a><a href="assets/img/blog_7-440x440.jpg" data-fancybox="gallery" data-caption="Image caption">
                  <div class="hoverbox rounded"><img class="img-fluid rounded-soft" src="assets/img/blog_7-440x440.jpg" alt="">
                    <div class="hoverbox-content bg-overlay-0"></div>
                  </div>
                </a><a href="assets/img/blog_video_popup-540x540.jpg" data-fancybox="gallery" data-caption="Image caption">
                  <div class="hoverbox rounded"><img class="img-fluid rounded-soft" src="assets/img/blog_video_popup-540x540.jpg" alt="">
                    <div class="hoverbox-content bg-overlay-0"></div>
                  </div>
                </a><a href="assets/img/blog_5-120x120.jpg" data-fancybox="gallery" data-caption="Image caption">
                  <div class="hoverbox rounded"><img class="img-fluid rounded-soft" src="assets/img/blog_5-120x120.jpg" alt="">
                    <div class="hoverbox-content bg-overlay-0"></div>
                  </div>
                </a><a href="assets/img/blog_6-740x460-740x460.png" data-fancybox="gallery" data-caption="Image caption">
                  <div class="hoverbox rounded"><img class="img-fluid rounded-soft" src="assets/img/blog_6-740x460-740x460.png" alt="">
                    <div class="hoverbox-content bg-overlay-0"></div>
                  </div>
                </a><a href="assets/img/gallery/gellary-img-3.png" data-fancybox="gallery" data-caption="Image caption">
                  <div class="hoverbox rounded"><img class="img-fluid rounded-soft" src="assets/img/gallery/gellary-img-3.png" alt="">
                    <div class="hoverbox-content bg-overlay-0"></div>
                  </div>
                </a><a href="assets/img/blog_1-120x120.jpg" data-fancybox="gallery" data-caption="Image caption">
                  <div class="hoverbox rounded"><img class="img-fluid rounded-soft" src="assets/img/blog_1-120x120.jpg" alt="">
                    <div class="hoverbox-content bg-overlay-0"></div>
                  </div>
                </a><a href="assets/img/blog_4-740x460-740x460.png" data-fancybox="gallery" data-caption="Image caption">
                  <div class="hoverbox rounded"><img class="img-fluid rounded-soft" src="assets/img/blog_4-740x460-740x460.png" alt="">
                    <div class="hoverbox-content bg-overlay-0"></div>
                  </div>
                </a></div>
              <div class="row">
                <div class="col my-4">
                  <form class="form-inline search-box p-lg-0 px-md-6 p-3">
                    <input class="form-control rounded-pill search-input" type="search" placeholder="Search..." aria-label="Search"><span class="position-absolute fas fa-search text-400 search-box-icon"></span>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card-deck">
                    <div class="card mb-4">
                      <div class="card-header text-center">
                        <h5 class="text-dark">Catagories</h5>
                      </div>
                      <div class="card-body bg-white">
                        <ul class="pl-4">
                          <li class="mt-2"><a class="d-flex justify-content-between text-decoration-none hvr-text-danger text-dark" href="#"><span>Business</span><span class="text-danger">[1]</span></a></li>
                          <li class="mt-2"><a class="d-flex justify-content-between text-decoration-none hvr-text-danger text-dark" href="#"><span>Conference</span><span class="text-danger">[20]</span></a></li>
                          <li class="mt-2"><a class="d-flex justify-content-between text-decoration-none hvr-text-danger text-dark" href="#"><span>Digital</span><span class="text-danger">[5]</span></a></li>
                          <li class="mt-2"><a class="d-flex justify-content-between text-decoration-none hvr-text-danger text-dark" href="#"><span>Music</span><span class="text-danger">[1]</span></a></li>
                          <li class="mt-2"><a class="d-flex justify-content-between text-decoration-none hvr-text-danger text-dark" href="#"><span>Startup</span><span class="text-danger">[1]</span></a></li>
                          <li class="mt-2"><a class="d-flex justify-content-between text-decoration-none hvr-text-danger text-dark" href="#"><span>Workshop</span><span class="text-danger">[3]</span></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="w-100 d-none d-lg-block"></div>
                    <div class="card mb-4">
                      <div class="card-header text-center">
                        <h5 class="text-dark">Recent Events</h5>
                      </div>
                      <div class="card-body"><a class="text-decoration-none media align-items-center" href="#"><img class="rounded-circle" src="assets/img/blog_video_popup-540x540.jpg" alt="" height="90">
                          <div class="media-body ml-3">
                            <p class="text-dark text-left mb-0">Discover Tech Talent with Indeed at Forum</p><span class="text-info">[October 9, 2019]</span>
                          </div>
                        </a><a class="text-decoration-none media align-items-center mt-4" href="#"><img class="rounded-circle" src="assets/img/team/portfolio_04-740x740.jpg" alt="" height="90">
                          <div class="media-body ml-3">
                            <p class="text-dark text-left mb-0">Lunch at Genesis Expo: What’s on the menu?</p><span class="text-info">[October 8, 2019]</span>
                          </div>
                        </a><a class="text-decoration-none media align-items-center mt-4" href="#"><img class="rounded-circle" src="assets/img/blog_6-150x150-170x170.jpg" alt="" height="90">
                          <div class="media-body ml-3">
                            <p class="text-dark text-left mb-0">We’re Hiring. Come Join Us at Genesis Expo</p><span class="text-info">[October 7, 2019]</span>
                          </div>
                        </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <footer class="footer-bg-color">
      <div class="container">
        <div class="row fs--1 no-gutters py-4 text-center">
          <div class="col-md-6 col-sm-auto text-md-left pl-0">
            <p class="mb-0 text-400">Thank you for creating with Confernce <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2019 &copy; <a class="text-info" href="#">Conference</a></p>
          </div>
          <div class="col-md-5 col-sm-auto text-right d-none d-sm-block ml-6 ml-md-0">
            <p class="mb-0 text-400">Made with<span class="fas fa-heart mx-1"> </span>by <a class="text-info" href="https://themewagon.com/themes/">Themewagon</a></p>
          </div>
        </div>
      </div>
    </footer>
    <div class="modal fade bd-example-modal-lg overflow-auto" tabindex="-1" role="dialog" aria-labelledby="registration-modal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header flex-column">
            <button class="close pr-3 pt-2" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="w-75">
              <h4 class="pl-3 text-900" id="registration-modal">Register For Conference</h4>
              <p class="pl-3 mb-0">Conference 2020 will be available in September. Please provide your information to be notified when Conference briefing are made.</p>
            </div>
          </div>
          <div class="modal-body">
            <form class="zform" method="post">
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" required="" placeholder="First Name*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 mt-3">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" required="" placeholder="Last Name*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="email" name="from" required="" placeholder="Business Email Address*">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 mt-3">
                  <div class="form-group">
                    <input class="form-control" type="tel" placeholder="Phone">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Company Name">
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mb-3">
                  <select class="custom-select mr-sm-2 text-400" id="inlineFormCustomSelect">
                    <option selected="">Country Name</option>
                    <option value="1">Bangladesh</option>
                    <option value="2">India</option>
                    <option value="3">Nepal</option>
                  </select>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 mt-sm-0 order-sm-0 order-1">
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customControlValidation3" type="checkbox" name="radio-stacked" required="" value="option3">
                    <label class="custom-control-label fs-0 text-500 text-base" for="customControlValidation3">Yes, I would like to receive emails from the <a class="text-decoration-none" href="#">ThemeWagon Inc.</a> </label>
                  </div>
                </div>
              </div>
              <div class="from-row">
                <div class="col-lg-9 pb-3">
                  <button class="btn btn-danger btn-lg" type="submit" name="submit" value="Send!">Submmit</button>
                </div>
              </div>
              <div class="zform-feedback"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
    