{% extends "index.html" %}
{% load static %}

{% block title %}
<title>Best IT Career Course</title>
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-5">
            <h3 style="color:#d50909">Career Growth Begins With <br> Right Placement</h3>
            <div class="mt-5">
                <div class="card" style="background-color: rgb(189, 8, 8);">
                    <div class="card-body ">
                        
                       <p class="text-light fs-1 ">"Our institute has achieved exceptional placement records, consistently placing students in top-tier companies and fostering successful careers across diverse industries."</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <img class="rounded mt-4 img-fluid w-100 sec" style="height:50vh" src="{% static 'assets/images/c1.jpg' %}"
                alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
                data-zanim-trigger="scroll" />
        </div>
    </div>
    <h3 style="color:#d50909" class="text-center mt-5">Six steps towards 100% job guarantee</h3>
    <div>
        <img class="rounded mt-4 img-fluid w-100 sec" style="height:100vh" src="{% static 'assets/images/c3.png' %}"
                alt=" " data-zanim-xs='{"from":{"opacity":0,"y":100},"to":{"opacity":1,"y":0},"duration":2}'
                data-zanim-trigger="scroll" />
    </div>
    <section>
        <div class="container">
            <h3 style="color:#d50909">Current Recruiting Drive</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-3">
                        <div class="card" style="background-color: rgb(189, 8, 8);">
                            <div class="card-body ">
                                
                               <p class="text-light fs-1 "> <b>10</b> Technical Support Engineer </p>
                               <p class="text-light">(Company: Cogent E-Services )</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-3">
                        <div class="card" style="background-color: rgb(189, 8, 8);">
                            <div class="card-body ">
                                
                               <p class="text-light fs-1 "> <b>5</b> Cloud Support Engineer </p>
                               <p class="text-light">(Company: Bita Technology )</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-3">
                        <div class="card" style="background-color: rgb(189, 8, 8);">
                            <div class="card-body ">
                                
                               <p class="text-light fs-1 "> <b>8</b> Network Engineer </p>
                               <p class="text-light">(Company: Intec Infonet pvt ltd )</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-3">
                        <div class="card" style="background-color: rgb(189, 8, 8);">
                            <div class="card-body ">
                                
                               <p class="text-light fs-1 "> <b>6</b> Python Developer </p>
                               <p class="text-light">(Company: Germanium Technology )</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-3">
                        <div class="card" style="background-color: rgb(189, 8, 8);">
                            <div class="card-body ">
                                
                               <p class="text-light fs-1 "> <b>8</b> Data Analytics Engineer </p>
                               <p class="text-light">(Company: Intec Infonet pvt ltd )</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-3">
                        <div class="card" style="background-color: rgb(189, 8, 8);">
                            <div class="card-body ">
                                
                               <p class="text-light fs-1 "> <b>11<b> L1 Support Engineer </p>
                               <p class="text-light">(Company: Tech Mahindra )</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-3">
                        <div class="card" style="background-color: rgb(189, 8, 8);">
                            <div class="card-body ">
                                
                               <p class="text-light fs-1 "> <b>15</b> Destop Engineer </p>
                               <p class="text-light">(Company: CNB Finwiz pvt ltd )</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-3">
                        <div class="card" style="background-color: rgb(189, 8, 8);">
                            <div class="card-body ">
                                
                               <p class="text-light fs-1 "> <b>50<b> Cloud Engineer </p>
                               <p class="text-light">(Company: ADRBS pvt ltd )</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}